
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Agri Footprint{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Agricultural Footprint Calculator</h1>
        <nav>
            <a href="/login.html">login</a>
            <a href="/dashboard.html">Dashboard</a>
            <a href="/profile.html">Profile</a>
            <a href="/register.html">Register</a>
            <a href="/crop_data.html">Input_Crop_data</a>
            <a href="/water_data.html">Input_water_data</a>
            <a href="/livestock.html">Input_livestock_data</a>
            <a href="/machinery_data.html">input_machinery_data</a>
            <a href="/report.html">Report_data</a>
            <a href="/export.html">Export_data</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 AgriCalc. All rights reserved.</p>
    </footer>
</body>
</html>